<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.2.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.33.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.33.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="TestEasy.Azure" version="1.0.2" targetFramework="net45" />
  <package id="TestEasy.Client" version="1.0.2" targetFramework="net45" />
  <package id="TestEasy.Core" version="1.0.2" targetFramework="net45" />
  <package id="TestEasy.NuGet" version="1.0.2" targetFramework="net45" />
  <package id="TestEasy.Server" version="1.0.2" targetFramework="net45" />
  <package id="TestEasy.Web" version="1.0.2" targetFramework="net45" />
  <package id="WindowsAzure.ServiceManagement.Library" version="3.0.1" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.0.6.1" targetFramework="net45" />
</packages>