<configuration>
  <configSections>
    <section name="client" type="TestEasy.Core.Configuration.ClientSection, TestEasy.Core" allowExeDefinition="MachineToLocalUser" />
    <section name="webServer" type="TestEasy.Core.Configuration.WebServerSection, TestEasy.Core" allowExeDefinition="MachineToLocalUser" />
    <section name="azure" type="TestEasy.Core.Configuration.AzureSection, TestEasy.Core" allowExeDefinition="MachineToLocalUser" />
    <section name="tools" type="TestEasy.Core.Configuration.ToolsSection, TestEasy.Core" allowExeDefinition="MachineToLocalUser" />
  </configSections>

  <!-- 
    <browser 
      type="Ie|Chrome|FireFox|Safari|HtmlUnit"  - specifies type of browsers to use for tests
      remote="false|true"  - specifies if browsers on local machine or on remote should be used
      remoteHubUrl="http://computername:port/wd/hub" - address of remote hub for Selenium 2 Grid
    />
  -->
  <client type="Ie" 
          remote="false" 
          remoteHubUrl="http://[YOUR_MACHINE_NAME]:4444/wd/hub" />
  
  <!--
    <webServer 
      type="IIS|IISExpress" - type of web server to use for tests,
      startupTimeout="milliseconds" how long to wait fro web server to start
    >  
      Note: by default if no any web server types specified, IIS and IISExpress 
            web server types are automatically registered at runtime.
      <webServerType name="IIS" type="TestEasy.WebServer.WebServerIis, TestEasy.WebServer" />
      <webServerType name="IISExpress" type="TestEasy.WebServer.WebServerIisExpress, TestEasy.WebServer" />
      <webServerType name="Custom" type="Full class name, assembly" />
    </webServer>
  -->
  <webServer type="IIS" startupTimeout="5000">
    <webServerType name="IIS" type="TestEasy.WebServer.WebServerIis, TestEasy.WebServer" />
    <webServerType name="IISExpress" type="TestEasy.WebServer.WebServerIisExpress, TestEasy.WebServer" />
  </webServer>

  <!--
    This section contains a list of subscriptions that your azure tests will be using.
    Each subscription should be represented by publish settings file which can be downloaded
    from Azure Portal. Subscription names specified here will be consumed by Azure Portal APIs
    to retrive a publish settings file location.
    
    Run cmdlet Get-AzurePublishSettingsFile from powershell command line to download your 
    publish settings file. This file may contain a list of subscriptions, separate them into 
    different publish settings files and name them with some "alias" name (don't expose real 
    subscription name or id)
    (See this web page for details about Get-AzurePublishSettingsFile: 
      http://msdn.microsoft.com/en-us/library/dn495224.aspx.)
    
    If publishSettingsFile='just a file name', TestEasy will assume that your publish settings file
    live in the same folder as default.config file.
    
    <azure defaultSubscription="[YOUR_SUBSCRIPTION]">
      <subscription 
        name="[YOUR_SUBSCRIPTION]"  - alias name for subscription
        publishSettingsFile="[YOUR_SUBSCRIPTION_PUBLISH_SETTINGS_FILE_PATH]" - full path or just a file name
      />
      ...
      <subscription name="[YOUR_SUBSCRIPTION]" publishSettingsFile="[YOUR_SUBSCRIPTION_PUBLISH_SETTINGS_FILE_PATH]" />
    </azure>  
  -->
  
  <azure defaultSubscription="[YOUR_SUBSCRIPTION]">
    <subscription name="[YOUR_SUBSCRIPTION]" publishSettingsFile="[YOUR_SUBSCRIPTION_PUBLISH_SETTINGS_FILE_PATH]"/>
  </azure>
  
  <!--
    This section contains a list of tools that TestEasy need to execute and information about 
    their location in your test/dev environment.
    
    <tools defaultRemoteToolsPath="[YOUR_REMOTE_SHARE_PATH]" - path to a remote folder where all tools are stored
           defaultLocalToolsPath="%SystemDrive%\fxttools" - local path where tools will be copied on test machine
      >
      
      This list of tools is needed by TestEasy client to prepare environment for Selenium 
      browsers to run smoothly.
      
      <tool name="selenium-server-standalone.jar" path="selenium-server-standalone-2.41.0.jar" arguments=""/>
      <tool name="IEDriverServer.exe" path="IEDriverServer.exe" arguments=""/>
      <tool name="ChromeDriver.exe" path="ChromeDriver.exe" arguments=""/>
      <tool name="JavaRuntimex86" path="jre-7-windows-i586.exe" arguments="/s"/>
      <tool name="JavaRuntimex64" path="jre-7-windows-x64.exe" arguments="/s"/>
    </tools>
  -->
  <tools defaultRemoteToolsPath="[YOUR_REMOTE_SHARE_PATH]" defaultLocalToolsPath="%SystemDrive%\fxttools">
    <tool name="selenium-server-standalone.jar" path="selenium-server-standalone-2.41.0.jar" arguments=""/>
    <tool name="IEDriverServer.exe" path="IEDriverServer.exe" arguments=""/>
    <tool name="ChromeDriver.exe" path="ChromeDriver.exe" arguments=""/>
    <tool name="JavaRuntimex86" path="jre-7-windows-i586.exe" arguments="/s"/>
    <tool name="JavaRuntimex64" path="jre-7-windows-x64.exe" arguments="/s"/>
  </tools>
</configuration>
